body{
    padding: 0;
    display: grid;
}

.App{
    width: 60rem;
    margin-top: 0;
    padding: 3rem;
    .container-formulario{
        .formulario{
            margin-right: 2rem;
            padding-bottom: 3rem;
            .date{
                input{
                    width: 9rem;
                    height: 4.5rem;
                    padding: 1rem;
                    font-size: 2rem;
                    font-weight: 600;
                }
            }
        }
        #btn{
            width: 6rem;
            height: 6rem;
            padding: .8rem 1.3rem;
            left: calc(100% - 7rem);
        }
    }

    #age{
        div{
            font-size: 6rem;
        }
    }
}